arabic-reshaper==3.0.0
asgiref==3.7.2
asn1crypto==1.5.1
attrs==23.2.0
blinker==1.6.2
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.4.4
crispy-bootstrap4==2023.1
cryptography==42.0.5
cssselect2==0.7.0
decouple==0.0.7
defusedxml==0.7.1
distlib==0.3.8
Django==4.2.5
django-allauth==0.61.1
django-colorfield==0.11.0
django-countries==7.5.1
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-environ==0.11.2
django-tinymce==3.7.1
django-widget-tweaks==1.5.0
Faker==12.0.1
filelock==3.13.1
Flask==2.3.3
Flask-Login==0.6.2
Flask-SQLAlchemy==3.1.1
greenlet==2.0.2
gunicorn==21.2.0
h11==0.14.0
html5lib==1.1
idna==3.6
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.3
MarkupSafe==2.1.3
mixer==7.2.2
oauthlib==3.2.2
oscrypto==1.3.0
outcome==1.3.0.post0
packaging==23.2
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycparser==2.21
pyHanko==0.21.0
pyhanko-certvalidator==0.26.3
PyJWT==2.8.0
pypdf==4.0.2
pypng==0.20220715.0
PySocks==1.7.1
pytest==8.1.1
pytest-cov==5.0.0
pytest-django==4.8.0
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.0
python-dotenv==1.0.1
python-pdf==0.39
python3-openid==3.2.0
PyYAML==6.0.1
qrcode==7.4.2
reportlab==4.0.9
requests==2.31.0
requests-oauthlib==1.3.1
selenium==4.18.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.20
sqlparse==0.4.4
stripe==8.4.0
svglib==1.5.1
tinycss2==1.2.1
trio==0.25.0
trio-websocket==0.11.1
typing_extensions==4.10.0
tzdata==2023.3
tzlocal==5.2
uritools==4.0.2
urllib3==2.2.1
virtualenv==20.25.0
webencodings==0.5.1
Werkzeug==2.3.7
whitenoise==6.6.0
wsproto==1.2.0
xhtml2pdf==0.2.15