<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="=width=device-width, initial-scale=1.0">
    <title>Business page</title>
    <link rel="stylesheet" href="styles2.css">
    <script src="https://kit.fontawesome.com/041ce3762b.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="business-container">
    <div class="business-form-box">
        <h1 id="title">Business Info</h1>
        <form>
            <div class="input-group">
                <div class="input-field">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <input type="text" placeholder="Business Name">
                </div>
                <div class="input-field">
                    <i class="fa fa-window-restore" aria-hidden="true"></i>
                    <select name="category" id="">
                        <option value=""><h3>Choose a business category:</h3></option>
                        <option value="">Electronics</option>
                        <option value="">Home Decor</option>
                        <option value="">Clothes</option>
                        <option value="">Toys</option>
                        <option value="">Others</option>
                    </select>
                </div>
               
                <div class="input-field">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    <input type="text" placeholder="Description">
                </div>
               

                <div class="input-field">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" placeholder="Business Email">
                </div>

                <div class="input-field file">
                    <input type="file" name="logo">
                </div>
                <div class="input-field">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <input type="text" placeholder="Address">
                </div>
            </div>
            <div class="btn-submit"><button>Submit</button></div>
        </form>
    </div>
</div>
</body>
</html>