<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="=width=device-width, initial-scale=1.0">
    <title>Register as page</title>
    <link rel="stylesheet" href="styles2.css">
    <script src="https://kit.fontawesome.com/041ce3762b.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div class="form-box">
        <h1 id="title">Register As</h1>
        <form>
            <div class="register-group">
                <div class="btn-customer"><button>Customer</button></div>
                <div class="btn-business-owner"><button>Business Owner</button></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>



