<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Product Detail Page</title>
    <!-- css -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- product section -->
    <div class="container">
        <section class="product-container">
            <!-- left side -->
            <div class="img-card">
                <img src="shoe_1.jpg" alt="" id="featured-image">
                <!-- small img -->
            </div>
            <!-- Right side -->
            <div class="product-info">
                <h3>PRODUCT NAME</h3>
                <h7>Business name</h7>
                <h5>Price: Shs.XXXXX</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusantium, aspernatur provident beatae corporis veniam atque facilis, consequuntur assumenda, vitae dignissimos iste exercitationem dolor eveniet alias eos ullam nesciunt voluptatum.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore accusamus natus dolorum. Quaerat nulla quod doloremque, officia quis provident amet adipisci unde esse iure delectus, maxime inventore optio fuga nisi?</p>
    
                
    
                <div class="quantity">
                    <input type="number" value="1" min="1">
                    <button>Add to Cart</button>
                </div>
    
                
            </div>
        </section>
    </div>

    <!-- script tags -->
    <script src="js/cart.js"></script>
</body>
</html>